<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>depr-calc | Depression Calculator</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <h1>Depression Calculator</h1>
    <p class="app-desc">Depression Calculator(depr-calc) is a depression potential level detection platform. Here you can diagnose how much potential you currently have for depression. This application works using the Learning Vector Quantization method which makes predictions based on data in the form of age, gender, and also characteristics or symptoms that you can enter in the form below.</p>
    <form action="/result" method="POST" id="lvq-form">
      <div class="data-diri">
        <h3>Personal data</h3>
        <div class="umurdiv">
          <label for="umur">Age</label>
          <input type="number" id="umur" name="umur" placeholder="Please Enter Age" required>
        </div>
        <div class="jkdiv">
          <label for="jkradio">Gender</label>
          <div class="jkradio" id="jkradio">
            <input type="radio" name="jk" id="jk1" value="1" required>
            <label for="jk1">Man</label>
            <input type="radio" name="jk" id="jk2" value="0">
            <label for="jk2">Woman</label>
          </div>
        </div>
      </div>
      <div class="psikologis">
        <h3>Psychological Aspect</h3>
        <div class="range-input">
          <label for="ap1">Feeling guilty</label>
          <input type="range" id="ap1" name="ap1" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap2">Lack of confidence</label>
          <input type="range" id="ap2" name="ap2" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap3">Anxious</label>
          <input type="range" id="ap3" name="ap3" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap4">Badmood</label>
          <input type="range" id="ap4" name="ap4" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap5">Sensitive</label>
          <input type="range" id="ap5" name="ap5" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap6">Difficult to concentrate</label>
          <input type="range" id="ap6" name="ap6" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap7">Apathetic</label>
          <input type="range" id="ap7" name="ap7" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="ap8">Loss of motivation</label>
          <input type="range" id="ap8" name="ap8" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <input type="hidden" name="ap" class="aphidden">
      </div>
      <div class="fisik">
        <h3>Physical Aspect</h3>
        
        <div class="range-input">
          <label for="af1">Often tired</label>
          <input type="range" id="af1" name="af1" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="af2">Appetite down</label>
          <input type="range" id="af2" name="af2" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="af3">Messy sleep schedule</label>
          <input type="range" id="af3" name="af3" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="af4">Often dizzy</label>
          <input type="range" id="af4" name="af4" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="range-input">
          <label for="af5">Lost weight</label>
          <input type="range" id="af5" name="af5" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <input type="hidden" name="af" class="afhidden">
      </div>
      <div class="mp">
        <label for="mp">Personal problems</label>
        <input type="range" id="mp" name="mp" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
        <output>3</output>
      </div>
      <input type="submit" value="Submit" class="submit-btn">
    </form>
  </div>
  
  <script src="static/js/script.js"></script>
</body>
</html>